/* Normalice */

:root {
  --main-color: white;
  --second-color: #1b6442;
  --third-color: #e0fd05;
  --fourth-color: black;
  --main-bg: #1b6442;
  --second-bg: #e0fd05;  
}

* {
  list-style: none; 
  font-family: 'Poppins', sans-serif;
  font-size: 16px;  
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  color: var(--main-color);
}

.v {
  border: 1px solid var(--main-color);
}

a {
  text-decoration: none;
  color: var(--main-color);  
}

a:hover {
  color: var(--main-color);
}

.divContainer {  
  min-height: 100vh; /* restar alto footer */  
}